body{
    font-family: "Roboto",arial;
    font-size: 1em;
    position: relative;
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #fff;
    min-width: 320px;
}
.headerTopNav{
    height: 28px;
    background-color: #000;
    color: #fff;
    overflow: visible;
    font-family: "Roboto Condensed";
    font-size: 14px
}
.wrapper{
    overflow: visible;
    max-width: 990px;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    height: inherit;
    position: relative;
}
.headerTopNavLinks{
    overflow: hidden;
    height: 28px;
    margin: 0;
    padding: 0;
    float: left;
}
.headerTopNavLinks a{
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    overflow: hidden;
    font-size: 13px;
}
.headerTopNavLinks a:hover{
    color: white;
}
.headerTopNavButtons{
    margin: 0;
    padding: 0;
    height: 28px;
}
.headerRegister{
    background-color: #fdc600;
    color: #000;
    text-transform: uppercase;
    float: right;
}
.headerTopNavButtons a{
    display: block;
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    color: #000;
    overflow: hidden;
    font-size: 14px;
}
.headerRegister:before{
    content: '\2606';
    margin-right: 5px;
    font-family: 'IconsFont';
    font-size: 20px;
    vertical-align: bottom;
}
.headerLogin{
    position: relative;
    overflow: visible;
    float: right;
    display: block;
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    font-size: 13px;
}
.headerLogin a{
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    font-size: 14px;
    text-transform: uppercase;
}
.headerLogin a:before{
    content: '&';
    margin-right: 10px;
    font-family: 'IconsFont';
    font-size: 20px;
    vertical-align: bottom;

}
.headerLogin a:hover{
    color: white;
}
.headerLanguage{
    position: relative;
    overflow: visible;
    float: right;
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    padding-right: 0;
}
.LanguageFlag {
    background-image: url("img/en.jpg");
    background-size: 23.8px 14px;
    height: 14px;
    width: 23.8px;
    margin-top: 7px;
}
.headerSearch{
    position: relative;
    overflow: visible;
    float: right;
    display: block;
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    font-size: 14px;
    padding-right: 0;
}
.headerSearch a{
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    font-size: 13px;
    text-transform: uppercase;
}
.headerSearch a:before{
    content: 'P';
    margin-right: 10px;
    font-family: 'IconsFont';
    font-size: 20px;
    vertical-align: bottom;

}
.headerSearch a:hover{
    color: white;
}
.header24option{
    position: relative;
    overflow: visible;
    float: right;
    display: block;
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    font-size: 13px;
    padding-right: 0;
}
.header24option a{
    line-height: 28px;
    height: 28px;
    color: #9a9a9a;
    font-size: 14px;
}
.header24option a:hover{
    color: white;
}
.headerLogos{
    height: 150px;
    background-color: #fff;
    color: #000;
}
.headerTitle{
    text-transform: capitalize;
    color: #000;
    display: block;
    float: left;
    width: 50%;
    height: inherit;
    line-height: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: 'JuventusFans-Light';
    font-size: 54px;
}
.headerTitle img{
    height: 90px;
    margin-bottom: 5px;
    margin-right: .1em;
    vertical-align: middle;
}
.headerTitle strong{
    font-family: 'JuventusFans-Bold';
    text-transform: uppercase;
    font-weight: normal;
    margin-right: .15em;
    font-size: 56px;
}
@font-face {
    font-family: 'IconsFont';
    src: url('fonts/juve-icons.woff?-f31v7j') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face{
    font-family: 'juve-icons';
    src: url("fonts/juve-icons.woff");
}
@font-face{
    font-family: 'JuventusFans-Bold';
    src: url("fonts/JuventusFans-Bold.woff");
}
@font-face{
    font-family: 'JuventusFans-Light';
    src: url("fonts/JuventusFans-Light.woff");
}
@font-face{
    font-family: 'JuventusFans-Regular';
    src: url("fonts/JuventusFans-Regular.woff");
}
@font-face{
    font-family: 'OpenSans-CondBold';
    src: url("fonts/OpenSans-CondBold.ttf");
}
@font-face{
    font-family: 'OpenSans-CondLight';
    src: url("fonts/OpenSans-CondLight.ttf");
}
.headerLogos ul{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: inherit;
    overflow: hidden;
}
.headerLogos ul li{
    float: right;
    margin: 0 1.764%;
    padding: 0;
    height: 150px;
    line-height: 150px;
}
.headerLogoWatch {
    width: 180px;
    height: 150px;
}
.headerLogos ul li a{
    display: block;
    height: 100%;
    overflow: hidden;
    line-height: inherit;
    font-size: 90px;
    color: #000;
}
.iconFont {
    font-family: 'IconsFont' !important;
    text-transform: none !important;
}
.headerNav {
    height: 40px;
    background-color: #000;
    color: #fff;
    clear: both;
    font-family: "JuventusFans-Regular";
    font-size: 24px;
}
.headerNav nav{
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
}
.headerNav ul{
    display: table-row;
    list-style: none;
    margin: 0;
    padding: 0;
}
.headerNav nav ul li{
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
}
.headerNav nav ul li a{
    display: block;
    white-space: nowrap;
    padding: 0 10px;
    margin-top: -2px;
}
.headerNav nav ul li span{
    display: inline-block;
    height: 40px;
    line-height: 38px;
    border-bottom: 2px solid #000;
    color: #9a9a9a;
}
.active{
    color: #fff !important;
    border-bottom-color: #fff !important;
}
.headerNav nav ul li span:hover{
    color: #fff;
    border-bottom-color: #fff;
}
.headerNav nav ul li div{
    display: none;
    position: absolute;
    top: 40px;
    left: 1.47%;
    right: 1.47%;
    margin: 0;
    padding: 1%;
    font-family: 'Roboto',arial;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-top-style: none;
    color: #000;
    overflow: auto;
}
.headerNav ul li:hover div{
    display: block;
}
.headerNav nav ul li div ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 25%;
    float: left;
    text-align: left;
    border-right: 1px solid #4d4d4d;
    margin-right: -5px;
}
.headerNav nav ul li div ul:last-child{
    border-right: none;
}
.headerNav nav ul li div ul li{
    margin: 0;
    padding: 0;
    text-align: left;
}
.groupheader {
    margin-top: 1.5em;
    margin-bottom: .2em;
    padding-bottom: 7px !important;
}
.groupheader-linked{
    margin-top: .5em !important;
    margin-bottom: -10px !important;
    padding-bottom: 7px !important;
}
.groupheader-linked a{
    color: #000 !important;
    font-weight: bold !important;
}
.groupheader-linked a:hover {
    background: black !important;
    color: white !important;
}
.groupheader a {
    font-weight: bold !important;
    color: #000 !important;
    cursor: inherit;
}
.groupheader a:hover{
    background: transparent !important;

}
.headerNav nav ul li div ul li {
    display: block;
    padding: 2% 2% .75%;
    color: #4d4d4d;
    text-transform: none;
}
.headerNav nav ul li div a{
    color: #4d4d4d;
    font-weight: lighter;
}
.headerNav nav ul li div a:hover{
    background: black;
    color: white;
}
.menuStore{
    border-bottom: none !important;
    display: inline-block;
    margin-left: 5px;
}
.groupheader-linked-top{
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    padding-bottom: 7px !important;
}
.groupheader-linked-top a{
    color: #000 !important;
    font-weight: bold !important;
}
.groupheader-linked-top a:hover {
    background: black !important;
    color: white !important;
}
.groupheader-top{
    margin-top: 1.5em !important;
    margin-bottom: .2em;
    padding-bottom: 7px !important;
}
.groupheader-top a{
    font-weight: bold !important;
    color: #000 !important;
    cursor: inherit;
}
.groupheader-top a:hover{
    background: transparent !important;

}
.groupheader-linked-middle{
    margin-top: .5em !important;
    margin-bottom: -10px !important;
    padding-bottom: 7px !important;
}
.groupheader-linked-middle a{
    color: #000 !important;
    font-weight: bold !important;
}
.groupheader-linked-middle a:hover{
    background: black !important;
    color: white !important;
}
.image{
    margin: 15px 0;
}





